body {
	background-color:lightskyblue;
}

h1, p {
	font-family:"Arial", "Helvatica", "Sans-serif";
	text-indent: 10px;
}
h1:hover{
	color:yellow;
}
hr{
	border: 1px solid green;
}
.kaas{
	border:1px solid black;
}
tr,td{
	border:1px solid black;
}